@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');

/* reset */
a {
    color: inherit;
    text-decoration: none;
}

button,
input {
    outline: none;
    border: none;
}

/* common style */
* {
    box-sizing: border-box;
}
.wrap {
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
}
.hide {
    display: none !important;
}

header {
    /* background: orange; */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    padding: 20px;
    /* opacity: 0.3; */
}
header .inner-header {
    /* background: tomato; */
    width: 92%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    color: #fff;
    font-weight: 700;
}
header .inner-header .logo {
    /* border: 3px solid blue; */
    flex: 1;
}
header .inner-header .logo img {
    height: 50px;
}
header .inner-header .intro-text {
    /* border: 3px solid greenyellow; */
    flex: 4;
    margin-left: 40px;
    text-transform: uppercase;
}
header .inner-header .menu-open {
    /* border: 3px solid violet; */
    flex: 1;
    font-size: 16px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header .inner-header .menu-open .lnr-menu {
    font-size: 33px;
    margin-left: 15px;
}

header .gnb {
    background: #000;
    color: #666;
    font-size: 40px;
    padding: 70px 100px;

    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;

    display: flex;
    flex-direction: row-reverse;

    transition: 0.6s;
}
header .gnb .close {
    display: block;
    color: #fff;
    /* order: 1; */
}
header .gnb ul {
    margin-right: 200px;
}
header .gnb ul li {
    font-weight: 700;
    line-height: 1.7;
}
header .gnb ul li:hover,
header .gnb ul li.active
{
    color: #fff;
}

/* section visual style */
section.visual .slide li {
    /* border: 3px solid blue; */
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
section.visual .slide li img {
    width: 100%;
    position: absolute;
    opacity: 0.9;
}
section.visual .slide li .txt {
    /* background: red; */
    color: #fff;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0, -50%);
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
}
section.visual .slide li .txt h3 {
    margin: 30px 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 1.3;
}

section.visual .slide li .scroll {
    /* background: orange; */
    position: absolute;
    left: 50px;
    bottom: 10%;
    font-size: 14px;
    font-weight: 700;
    color: #ccc;
    transform: rotate(-90deg);
}


/* section.contents */
section.contents {
    background: #1b1b1b;
    color: #fff;
    /* padding: 120px 0; */
    padding-top: 120px;
}
section.contents .main-text {
    /* background: tomato; */
    width: 80%;
    margin: 0 auto 100px;
    font-size: 25px;

    display: flex;
    /* justify-content: space-between; */
    position: relative;
}
section.contents .main-text::before {
    content: '';
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #ffec03;
    position: absolute;
    left: 70px;
    top: 100px;
}
section.contents .main-text::after {
    content: 'â€';
    font-size: 300px;
    position: absolute;
    left: 0px;
    top: 100px;
}
section.contents .main-text h3 {
    /* border: 3px solid red; */
    font-weight: 700;
    flex: 1;
}
section.contents .main-text p {
    /* border: 3px solid blue; */
    font-size: 23px;
    line-height: 1.4;
    flex: 2;
}
section.contents .main-text p span {
    display: block;
    margin-top: 30px;
    color: #999;
    font-size: 20px;
}

section.contents .project .top {
    /* border: 3px solid #fff; */
    width: 80%;
    margin: 50px auto;
    
    display: flex;
    justify-content: space-between;
}
section.contents .project .top h3 {
    font-size: 33px;
    font-weight: 700;
}
section.contents .project .top .inr-chevron-right {
    font-size: 25px;
}

section.contents .project .animate {
    /* border: 3px solid yellow; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
section.contents .project .animate li {
    border: 3px solid #fff;
    width: 24%;
    /* opacity: 0.3; */
    overflow: hidden;

    display: flex;

    position: relative;
}
section.contents .project .animate li::after {
    content: '';
    width: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;;
    left: 0;
    top: 0;
    transition: 0.3s;
}
section.contents .project .animate li:hover::after {
    width: 100%;
}
section.contents .project .animate li .name {
    background: #000;
    color: #fff;
    font-size: 20px;
    text-align: right;
    padding: 10px;
    width: 60%;

    position: absolute;
    bottom: -100%;
    right: 5px;
    transition: 0.3s;
}
section.contents .project .animate li:hover .name {
    bottom: 5px;
    z-index: 100;
}





/* > .partner */
section.contents .partner {
    /* background: orange; */
    width: 80%;
    margin: 170px auto 100px;
}
section.contents .partner h3 {
    font-size: 17px;
    margin-bottom: 80px;
}
section.contents .partner ul {
    /* background: red; */
    display: flex;
    flex-wrap: wrap;
}
section.contents .partner ul li {
    /* border: 4px solid #fff; */
    width: 25%;
    margin-bottom: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
}

section.contents .partner ul li img {
    opacity: 0.3;
    transition: 0.4s;
}

section.contents .partner ul li img:hover {
    opacity: 1;
}


/* > .contract */
section.contents .contact {
    background: url('../img/contact.jpg') no-repeat;
    height: 100vh;
    position: relative;
}
section.contents .contact .inner {
    position: absolute;
    top: 30%;
    left: 20%;
    /* transform: translate(0, -50%) */
    line-height: 1.4;
}
section.contents .contact .inner .tel {
    font-size: 80px;
    font-weight: 700;
    margin: 100px 0;
}



/* footer */
footer {
    background: #333;
    color: #fff;
    padding: 50px;
    position: relative;
}
footer ul {
    display: flex;
    justify-content: space-around;
    align-items: center;    
}
footer ul li {
    /* border: 3px solid yellow; */
    color: #999;
}
footer ul li:nth-child(2) {
    color: #fff;
    font-size: 18px;
    line-height: 1.6;
}
footer ul li:nth-child(2) span {
    color: #999;
}
footer a {
    font-size: 30px;
    position: fixed;
    right: 50px;
    bottom: 50px;
}

